/* Regular Rock Salt Font */
@font-face {
    font-family: "Cakecafe";
    src:
        local("Cakecafe"),
        url("../fonts/Cakecafe.woff") format("woff"),
        url("../fonts/Cakecafe.woff2") format("woff2"),
        url("../fonts/Cakecafe.ttf") format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-family: "Acme";
    src:
        local("Acme"),
        url("../fonts/Acme.woff2") format("woff2"),
        url("../fonts/Acme.woff") format("woff"),
        url("../fonts/Acme.ttf") format("truetype");
    
}

@font-face {
    /* font-display: swap; */
    font-family: "Source Code Pro";
    src: url("/fonts/sourcecodepro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Consolas Font */
@font-face {
    font-family: "Consolas";
    src: url("/fonts/consolas_regular.TTF") format("truetype");
}

/* Noto Sans Devanagari */
@font-face {
    font-family: "Noto Sans Devanagari";
    src: url("/fonts/NotoSansDevanagari.TTF") format("truetype");
}


/* Inknut Antiqua */
@font-face {
    font-family: "Inknut Antiqua Light";
    src: url("/fonts/InknutAntiqua-Light.ttf") format("truetype");
}

/* Sura */
@font-face {
    font-family: "Sura";
    src: url("/fonts/Sura-Regular.ttf") format("truetype");
}

