#root {
    font-family: Consolas, "Sura", monospace;
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
}
#brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#brand a {
    color: var(--fontcolor);
    text-decoration: none;
}
#brand h1,
#brand h3 {
    margin: 0;
}
#brand h1 {
    font-family: "Cakecafe";
    font-size: 60px;
    font-style: italic;
    color: #ff3e3e;
    text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
    #brand h1 {
        font-family: "Cakecafe", sans-serif;
        font-style: italic;
        font-size: 60px;
        color: #fab12f;
        text-shadow: -2px -2px 0px rgb(250, 64, 50);
    }
}
#brand h3 {
    font-family: "Acme", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
}

#brand .icon {
    width: 75px;
}

#content {
    font-family: Consolas, "Sura", monospace;
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
}

footer {
    font-family:
        Source Code Pro,
        monospace;
    font-size: 14px;
    margin-top: 30px;
}
header nav {
    margin: 15px 0;
}
h1.title {
    margin: 1.3rem 0 0 0;
}
h3.subtitle {
    font-weight: normal;
    margin: 0;
}
div.post-meta {
    margin-top: 1.3rem;
}


figure .centered-figure {
    text-align: center;
}

@media (max-width: 1200px) {
    div .toc {
        position: static;
        width: 100%;
        margin: 20px 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #root {
        margin-top: 25px;
    }
    #brand {
        flex-direction: row;
        text-align: unset;
    }
    #brand .text {
        /* margin-left: 20px; */
    }
    #brand h1 {
        font-size: 60px;
    }
    #brand h3 {
        font-size: 20px;
        margin-top: 6px;
        margin-left: 6px;
    }
}

#postsByDate {
    list-style: none;
}
#postsByDate .date {
    width: 60px;
}
#postsByDate div,
#postsInOneGroup div {
    display: inline-block;
}
#terms {
    list-style: none;
}
#terms .term {
    background-color: #ddd;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
    padding: 8px;
}

/* Styling for the Table of Contents block */
.toc {
    /* Borders */
   /*  border-top: 2px dashed ;  */
    /* border-bottom: 2px dashed;  */
    
    /* Spacing */
    padding: 10px 0; /* Add 10px of vertical space inside the borders */
    margin: 25px 0;  /* Add 25px of vertical space outside the borders */
    
    /* Optional: Background color to help it stand out */
    /* background-color: #f9f9f9; */
    
    /* Optional: Restrict width on very large screens */
    /* max-width: 800px; */ 
    
    /* Optional: Center the TOC block if you apply a max-width */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

/* Optional: Style for the list itself, removing default padding/margins if needed */
.toc nav {
    padding: 0;
    margin: 0;
}
