<div class="post-meta">
  <strong>
    <span>Posted on</span>
    <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    {{ with .Params.categories }}
  <span>in</span>
  {{ range $index, $value := . }}
    {{ if gt $index 0 }}, {{ end }}
    <a href="{{ (site.GetPage (printf "/categories/%s" ($value | urlize))).RelPermalink }}">
      {{ $value }}
    </a>
    {{ end }}
{{ end }}
  </strong>
  {{ with .WordCount }}<span> • {{ . }} words</span>{{ end }}
  {{ with .ReadingTime}}<span> • {{ . }} minute read</span>{{ end }}
  {{ if and .IsPage (ne .Date .Lastmod) }}
    <div>
      Last updated on
      <time>{{ .Lastmod.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    </div>
  {{ end }}
  {{ with .Params.tags }}
    <div>
      <span>Tags:</span>
      {{ range $key, $value := . }}
        {{- if $key }}, {{ end }}
        <a href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
      {{- end }}
    </div>
  {{ end }}
</div>
