<div class="post-meta">
  <strong>
    <span>Posted on</span>
    <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    {{ with .Params.categories }}<span>in</span>{{ end }}
    {{ range $key, $value := .Params.categories -}}
      {{- if $key }}, {{ end }}
      <a href = "{{ $.Site.BaseURL }}categories/{{ $value | urlize | lower  }}">{{$value}}</a>
    {{- end }}
  </strong>
  {{ if and .IsPage (ne .Date .Lastmod) }}
    <div>
      Last updated on
      <time>{{ .Lastmod.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    </div>
  {{ end }}
  {{ with .Params.tags }}
    <div>
      <span>Tags:</span>
      {{ range $key, $value := . }}
        {{- if $key }}, {{ end }}
        <a href = "{{ $.Site.BaseURL }}tags/{{ $value | urlize | lower  }}">{{$value}}</a>
      {{- end }}
    </div>
  {{ end }}
</div>
